streamlit
backtrader
datetime
pandas
numpy
plotly
pandas_datareader
yfinance
matplotlib==3.2.2
mplfinance
nltk
urllib3
bs4
yahoo_fin
hydralit
streamlit_analytics
tweepy
PyPortfolioOpt
yahooquery
gunicorn
